.abiInputLine {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-left: 5px;
}

.inputField {
    flex: 5 0;
    margin-top: 5px;
    margin-left: 10px;
    border-collapse: collapse;
    border: 1px solid lightgray;
    padding-left: 10px;
    border-radius: 4px;
    height: 20px;
    max-width: 400px;
}

.inputLabel {
    font-size: small;
    flex: 0.5 0;
    max-width: 120px;
}